---
import "./checkbox.scss";

type Props = {
  id: string;
  name: string;
  value: string;
  placeholder?: string;
  customClasses?: string;
};
const {
  id,
  name,
  value,
  placeholder = "",
  customClasses = "",
  ...attrs
} = Astro.props;
---

<div
  class={`checkbox ${customClasses}`}
  {...attrs}
  data-custom-checkbox
  data-checkbox-id={id}
>
  <div class="checkbox__inner">
    <div class="checkbox-container">
      <input
        type="checkbox"
        id={id}
        name={name}
        value={value}
        placeholder={placeholder}
      />
    </div>
    <label class="info-container" for={id}>
      <h1 class="title">
        <slot name="checkbox-title">Online service</slot>
      </h1>
      <p class="description">
        <slot name="checkbox-description">Access to multiplayer games</slot>
      </p>
    </label>
    <div class="cost-container">
      <label class="cost" id="cost" for={id}>
        <slot name="checkbox-cost">+$2/mo</slot>
      </label>
    </div>
  </div>
</div>
<script>
  const activeClass = "checkbox--active";
  document.addEventListener("DOMContentLoaded", () => {
    const customCheckboxes = document.querySelectorAll(
      "[data-custom-checkbox]"
    );

    customCheckboxes.forEach((checkbox) => {
      const input = checkbox.querySelector(
        "input[type=checkbox]"
      ) as HTMLInputElement;

      if (input) {
        input.addEventListener("change", () => {
          const checked = input.checked;
          if (checked) {
            checkbox.classList.add(activeClass);
          } else {
            checkbox.classList.remove(activeClass);
          }
        });
      }
    });
  });
</script>
